body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Helvetica', sans-serif;
}
p {
  background-color: #A52A2A;
  width: 90%;
  height: 1000px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
  padding: 25px;
  overflow: wrap;
}
h1 {
	margin-bottom: 35px;
}
/** HEADER **/
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Helvetica', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: .25;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-brand {
  padding-top: 25px;
}
/**DIVIDER **/
.divider {
    width: 100%;
    height: 1px;
    margin: 0px 1px;
    margin: 0px 0 0px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

